* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Bebas;
  src: url(/assets/ttf/BebasNeue-Regular.ttf);
  font-style: normal; }

:root {
  --linkedin: #0077B5;
  --twitter: #55acee;
  --instagram: #e4405f;
  --facebook: #3b5999; }

html {
  height: 100%; }

body {
  min-height: 100%;
  font-family: Bebas;
  background: url(/assets/images/2682806.jpg) no-repeat center center fixed;
  background-size: cover; }

a {
  text-decoration: none; }

p {
  line-height: 1.5; }

ul {
  list-style-type: none; }

.grid__container {
  display: grid;
  grid-template-areas: "header" "navbar" "main" "footer"; }

.grid__header {
  display: flex;
  justify-content: center;
  height: 200px;
  grid-area: header;
  background-color: #fafafacc; }
  .grid__header img {
    height: 200px; }

.grid__navbar {
  height: auto;
  grid-area: navbar;
  background-color: #fafafacc; }

.content__navbar {
  display: flex;
  justify-content: space-evenly; }
  .content__navbar a {
    font-size: 23px;
    color: #333;
    font-weight: bold;
    transition: .2s; }
    .content__navbar a:hover {
      transform: translateY(-3px) scale(1.05); }
  .content__navbar-underline {
    display: inline-block;
    position: relative; }
    .content__navbar-underline::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #333;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform .2s ease-out; }
    .content__navbar-underline:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left; }

.grid__menu {
  background-color: #fafafacc; }

#btn-menu {
  display: none; }

.div__label {
  display: none;
  font-size: 40px;
  cursor: pointer; }

.grid__footer {
  margin: 10px 0 2px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: end;
  z-index: 1; }

.footer__text {
  margin: 10px 10px;
  color: aliceblue;
  display: flex;
  align-items: center; }

.botones {
  text-align: center;
  margin-bottom: 20px; }
  .botones__icon ul li {
    display: inline-flex;
    padding: 15px 2px 0; }
  .botones__icon ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: aliceblue;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 3px 5px 0 black;
    transition: .3s; }
    .botones__icon ul li a:hover {
      transform: translateY(-3px) scale(1.05);
      box-shadow: 0 5px 5px 1px black;
      filter: none; }

.botones__icon ul:hover a {
  filter: blur(1px); }

.botones__icon ul li a i.fa-brands {
  font-size: 17px;
  transition: .2s all; }

.botones__icon ul li .linkedin:hover {
  background-color: var(--linkedin); }

.botones__icon ul li .twitter:hover {
  background-color: var(--twitter); }

.botones__icon ul li .instagram:hover:hover {
  background-color: var(--instagram); }

.botones__icon ul li .facebook:hover:hover {
  background-color: var(--facebook); }

@media (max-width: 675px) {
  .presentation__title {
    font-size: 45px; }
    .presentation__title__header {
      font-size: 30px; }
  .servicios {
    padding: 0px; }
    .servicios__card img {
      border-radius: 0px; }
    .servicios__card-information p {
      font-size: 40px; }
    .servicios__card-information li {
      font-size: 20px; } }

@media (max-width: 570px) {
  .presentation__title {
    font-size: 40px; }
    .presentation__title__header {
      font-size: 25px; }
  .botones__icon ul li a {
    width: 34px;
    height: 34px; }
  .botones__icon ul li a i.fa-brands {
    font-size: 11px; }
  .footer__text {
    font-size: 9px; }
  .card {
    width: 80%; }
    .card__header-img {
      width: 50%; }
      .card__header-img:hover {
        width: 52%; }
  .audiodemos__information h1 {
    font-size: 40px; }
  .audiodemos__information p {
    font-size: 20px; }
  .servicios__card iframe {
    width: 100%;
    height: 300px; }
  label {
    font-size: 22px; }
  input, textarea {
    font-size: 10px; }
  button {
    font-size: 13px; }
  .contact {
    font-size: 22px; } }

@media (max-width: 500px) {
  .div__label {
    display: flex; }
  .content__navbar {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #333333cc;
    transition: 1s ease-in-out; }
    .content__navbar a {
      font-size: 20px;
      color: #e2e8f0;
      padding-top: 15px; }
  #btn-menu:checked ~ .content__navbar {
    display: flex; }
  .content__navbar-underline:after {
    background-color: white; } }

@media (max-width: 400px) {
  .footer__text {
    font-size: 15px; }
  .botones__icon ul li a {
    width: 40px;
    height: 40px; }
  .botones__icon ul li a i.fa-brands {
    font-size: 17px; }
  .presentation__title {
    font-size: 30px; }
    .presentation__title__header {
      font-size: 20px; }
  .card__description {
    font-size: 20px; }
  .card__link {
    font-size: 17px; }
  .cv img {
    width: 90%;
    height: 90%; }
  .servicios {
    margin: 20px 0px;
    padding: 20px 0px; }
    .servicios__card-information p {
      font-size: 33px; } }

.grid__main {
  height: 670px;
  grid-area: main; }

.presentation {
  position: fixed;
  align-content: center;
  background-color: #f9f1eccc;
  width: 100%;
  margin: 10px;
  padding: 10px; }
  .presentation__title {
    font-size: 50px; }
  .presentation__header {
    font-size: 35px; }

.grid__main-sobremi {
  height: auto;
  grid-area: main; }

.sobremi__content {
  display: flex;
  justify-content: center; }

.card {
  width: 50%;
  background-color: #f9f1eccc;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 25px 70px 12px black; }
  .card__header-img {
    display: flex;
    justify-content: center;
    width: 40%;
    border-radius: 50%;
    margin: 20px auto;
    box-shadow: 0 0 0 8px black;
    cursor: pointer;
    transition: .2s; }
    .card__header-img:hover {
      transform: translateY(-3px) scale(1.05);
      box-shadow: 0 0 0 8px black; }
  .card__title {
    margin: 10px;
    padding-bottom: 10px; }
    .card__title h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px; }
    .card__title h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px; }
  .card__description {
    font-family: 'Domine', serif;
    text-align: justify;
    margin: 10px;
    padding: 20px 0;
    font-size: 25px; }
  .card__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ad7189b3;
    width: 30%;
    padding: 15px 0;
    margin: 10px auto;
    text-align: center;
    color: #e2e8f0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: lighter;
    font-size: 22px;
    transition: .2s; }
    .card__link:hover {
      color: black;
      background-color: #ad7189;
      width: 35%; }

.grid__main-cv {
  height: auto; }

.cv {
  display: flex;
  justify-content: center;
  width: 100%; }
  .cv img {
    margin-top: 20px;
    width: 65%;
    height: 65%; }

.grid__main-servicios {
  height: auto; }

.servicios {
  margin: 20px 20px 40px 20px;
  padding: 20px;
  background-color: #f9f1ec80;
  width: auto; }
  .servicios__card img {
    width: 100%;
    margin: 20px 0;
    border-radius: 10px; }
  .servicios__card-information {
    background-color: #deb6ab99;
    padding: 10px; }
    .servicios__card-information p {
      font-size: 50px;
      margin-bottom: 10px; }
    .servicios__card-information li {
      font-family: 'Playfair Display', serif;
      display: block;
      margin: 10px 30px;
      font-size: 30px; }
    .servicios__card-information-bold {
      font-weight: bolder; }

.grid__main-audiodemos {
  height: auto; }

.audiodemos__information {
  background-color: hwb(13 67% 13%/0.6);
  padding: 10px; }
  .audiodemos__information h1 {
    font-size: 50px;
    margin-bottom: 10px; }
  .audiodemos__information p {
    margin: 0 30px;
    padding-top: 30px;
    font-size: 30px; }

.servicios__card iframe {
  width: 100%;
  height: 600px;
  margin: 20px 0;
  border-radius: 10px; }

.grid__main-contacto {
  height: auto; }

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 10px;
  margin-bottom: auto; }

form {
  width: auto;
  padding: 20px 20px;
  background-color: #efeeeacc;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 5px; }

label {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 30px; }

.form__container-input {
  display: flex;
  justify-content: center;
  margin: none; }

input, textarea {
  width: 100%;
  padding: 7px;
  margin-bottom: 10px;
  font-size: 15px;
  box-sizing: border-box; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; }

button {
  font-family: Bebas;
  margin: 0 20px;
  font-size: 20px;
  width: 90px;
  height: 40px;
  background-color: #ad7189b3;
  color: #F9F2ED;
  border-radius: 7px;
  border-width: 0px;
  cursor: pointer;
  transition: .2s; }

button:hover {
  color: black;
  background-color: #ad7189;
  width: 100px; }

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f8ff66;
  position: sticky;
  text-align: center;
  font-size: 30px;
  margin: 20px 0; }

.contact__list li {
  padding: 10px 0; }
