.grid__footer {
    margin: 10px 0 2px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: end;
    z-index: 1;
}

.footer__text {
    margin: 10px 10px;
    color: aliceblue;
    display: flex;
    align-items: center;
  }

  .botones {
    text-align: center;
    margin-bottom: 20px;
}

.botones__icon ul li {
    display: inline-flex;
    padding: 15px 2px 0;
}

.botones__icon ul li a{
    background-color: #333;
    color: aliceblue;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 5) ;
    transition: .3s;
}

.botones__icon ul:hover a{
    filter: blur(1px);
}

.botones__icon ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 5) ;
    filter:none;
}

.botones__icon ul li a i.fa-brands {
    font-size: 17px;
    transition: .2s all;
}

.botones__icon ul li .linkedin:hover {
    background-color: var(--linkedin);
}

.botones__icon ul li .twitter:hover {
    background-color: var(--twitter);
}

.botones__icon ul li .instagram:hover:hover {
    background-color: var(--instagram);
}

.botones__icon ul li .facebook:hover:hover {
    background-color: var(--facebook);
}